# --- MySQL (docker compose service `db`) ---
DB_NAME=disaster_monitoring
DB_USER=dm_user
DB_PASSWORD=change_me
DB_ROOT_PASSWORD=change_me_root
DB_PORT_MAPPED=3307

# --- Backend ---
# DB_HOST=db bila via docker compose, localhost bila native
# DB_HOST=localhost
# DB_PORT=3306
PORT=4000
BACKEND_PORT_MAPPED=4000
CORS_ORIGIN=http://localhost:3000
SYNC_INTERVAL_MS=60000
BMKG_AUTOGEMPA_URL=https://data.bmkg.go.id/DataMKG/TEWS/autogempa.json
BMKG_TERKINI_URL=https://data.bmkg.go.id/DataMKG/TEWS/gempaterkini.json
BMKG_DIRASAKAN_URL=https://data.bmkg.go.id/DataMKG/TEWS/gempadirasakan.json
MAGMA_ACTIVITY_URL=https://magma.esdm.go.id/v1/gunung-api/tingkat-aktivitas
VOLCANO_SYNC_INTERVAL_MS=900000

# --- Frontend ---
NEXT_PUBLIC_API_URL=http://localhost:4000
FRONTEND_PORT_MAPPED=3000
