# Salin menjadi .env lalu isi sesuai lingkungan
PORT=4000
CORS_ORIGIN=http://localhost:3000
SYNC_INTERVAL_MS=60000

BMKG_AUTOGEMPA_URL=https://data.bmkg.go.id/DataMKG/TEWS/autogempa.json
BMKG_TERKINI_URL=https://data.bmkg.go.id/DataMKG/TEWS/gempaterkini.json
BMKG_DIRASAKAN_URL=https://data.bmkg.go.id/DataMKG/TEWS/gempadirasakan.json

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=disaster_monitoring

MAGMA_ACTIVITY_URL=https://magma.esdm.go.id/v1/gunung-api/tingkat-aktivitas
VOLCANO_SYNC_INTERVAL_MS=900000

BMKG_WEATHER_URL=https://api.bmkg.go.id/publik/prakiraan-cuaca
BMKG_NOWCAST_URL=https://www.bmkg.go.id/alerts/nowcast/id
WEATHER_SYNC_INTERVAL_MS=600000

TSUNAMI_FEED_URL=https://cdn.bmkg.go.id/last30tsunamievent.xml
TSUNAMI_SYNC_INTERVAL_MS=600000
